@use 'variables' as *;
@use 'mixins';
@use 'base';
@use 'animation';


// header

header {
    @include mixins.flex;
    padding: 1rem 1.5rem;
    background-color: $darkblue;

    div {
        width: 20%;

        h2 {
            font-size: 2.5em;
            color: #fff;
        }
    }

    nav {
        width: 50%;

        ul {
            @include mixins.flex;

            a {
                color: #fff;
                font-size: 1.5em;

                &:hover {
                    color: $textblue;
                }

                &.active {
                    color: $textblue;
                }
            }
        }
    }
}

//main

main {

    //home section

    .home {
        background-color: $darkblue;
        height: 44rem;////////////
        position: relative;
        padding-top: 6rem;

        .wave {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: auto;
        }

        .slider {
            position: relative;
            width: 100%;
            height: 33rem;////////////
            margin: 0 6rem;
            color: #fff;
            overflow: hidden;

            &_banner {
                display: flex;
                transition: transform $transition-time ease;
                width: $slide-count * 100%;
            }

            .slide {
                @include mixins.flex;
                width: 100%;
                flex: 0 0 calc(100% / $slide-count);
                justify-content: center;

                div {
                    @include mixins.flex;
                    flex-direction: column;
                    align-items: flex-start;
                    width: 45%;
                    height: 20rem; ////////////
                }

                h2 {
                    font-size: 4rem; ////////////
                }

                p {
                    font-size: 1.2em;

                }

                button {
                    @include mixins.button
                }

                img {
                    width: 70%;
                    max-width: 30rem;
                    animation: floatWave 3s ease-in-out infinite;
                }
            }

            @for $i from 1 through $slide-count {
                input#slide#{$i} {
                    display: none;

                    &:checked~.slider_banner {
                        transform: translateX(calc(-1 * ($i - 1) * 100% / $slide-count));
                    }

                    &:checked~.dots label[for="slide#{$i}"] {
                        background-color: $lightblue;
                        width: 1rem;
                        height: 1rem;
                    }
                }
            }

            .dots {
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                display: flex;
                gap: 0.5rem;

                label {
                    width: 0.8rem;
                    height: 0.8rem;
                    border-radius: 50%;
                    background-color: #fff;
                    cursor: pointer;
                }
            }
        }
    }

    //services section

    .services {
        width: 100%;
        padding: 4rem;
        text-align: center;

        &>div {
            @include mixins.flex;
            margin: 2rem 0;

            &>div {
                width: 30%;
                padding: 1rem;
                background-color: #f6f6f6;

                figcaption {
                    font-weight: bold;
                    font-size: 2em;
                }

                p {
                    margin: 1rem 0;
                    letter-spacing: 0.1em;
                }

                img {
                    width: 25%;
                    margin-bottom: 1rem;
                }

                a {
                    color: $darkblue;
                    font-weight: 500;
                }
            }
        }

        button {
            @include mixins.button;
        }
    }

    //about section

    .about {
        padding: 4rem;
        text-align: center;
        color: #fff;
        background-color: $darkblue;

        &>div {
            @include mixins.flex;
            justify-content: space-around;
            margin-top: 2rem;

            &>div {
                width: 40%;
                text-align: left;
            }

            p {
                letter-spacing: 0.1em;
                line-height: 1.5em;
            }

            img {
                text-align: center;
                width: 100%;
            }

            button {
                @include mixins.button;
            }
        }
    }

    //us section

    .us {
        padding: 4rem;
        text-align: center;

        &>div {
            @include mixins.sticky;

            figcaption {
                margin: 1rem 0;
                font-weight: bold;
                font-size: 2em;
            }

            p {
                letter-spacing: 0.1em;
                line-height: 1.5em;
            }

            img {
                width: 15%;
                min-width: 100px;
                padding: 1em;
                border: 0.7rem solid $darkblue; ////////////
                border-radius: 50%;
            }
        }

        button {
            @include mixins.button;
        }
    }


    //team section

    .team {
        padding: 4rem;
        text-align: center;
        color: #fff;
        background-color: $darkblue;

        &>div {
            @include mixins.flex;
            width: $auto-slide-count * 50%;
            animation: slide-left 20s linear infinite;

            &:hover {
                animation-play-state: paused;
            }

            &>div {
                width: 25%;
                margin: 1rem 3rem;
                padding: 1rem;
                background-color: #4343ff21;

                &>img {
                    width: 20%;
                    border: 0.7rem solid #fff; ////////////
                    border-radius: 50%;
                }

                p:first-of-type {
                    margin: 1rem 0;
                    color: $textblue;
                    font-size: 2em;
                }

                p:last-of-type {
                    font-size: 1.5em;
                }

                &>div {
                    @include mixins.flex;
                    width: 50%;
                    margin: 2rem auto;
                }
            }
        }

    }

    //customers section

    .customers {
        padding: 4rem;
        text-align: center;
        h2{
            margin-bottom: 2em;
        }
        .customerSlide {
            @include mixins.flex;
            width: 80%;
            margin: auto;
            .customer {
                width: 48%;
                padding: 1rem;
                text-align: left ;
                box-shadow: 0em 0em 0.5em 0.4em #f3f3f3;
                div:last-of-type{
                    @include mixins.flex;
                    margin-bottom: 1em;
                }
                .fullName{
                    font-weight: bold;
                }
                img{
                    width: 6rem;
                    height: 6rem;
                    border-radius: 50%;
                    transform: translateY(-3em);
                }
            }
        }
    }

}



//footer

footer {
    @include mixins.flex;
    align-items: flex-start;
    padding: 4rem;
    color: #fff;
    background-color: $darkblue;

    &>div {
        width: 20%;

        &.links ul {
            @include mixins.flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 0.8rem
        }

        &.address>div {
            @include mixins.flex;
            width: 60%;
        }

        &.address>div:first-of-type {
            flex-direction: column;
            align-items: flex-start;
            gap: 0.8rem;
            margin-bottom: 2rem;

            a {
                color: white;
            }
        }

        button {
            @include mixins.button;
            width: 100%;
        }

        input {
            width: 100%;
            padding-bottom: 1rem; ////////////
            color: white;
            font-size: 1em;
            border-bottom: 1px solid #f6f6f6;
            background-color: transparent;
            outline: none;

            &::placeholder {
                color: white;
                font-size: 1em;
            }
        }
    }

}